.feed{
    flex: 5.5;
}

.feedWrapper{
    padding: 20px;
}

@media only screen and (max-width: 320px){
    .feedWrapper {
      width: 100vw;
      height: 100vh;
      padding: 1px;
  }
    .postContainer {
        width: 92%;
        border-radius: 10px;
        box-shadow: 0px 0px 16px -8px rgb(0 0 0 / 68%);
        margin: 30px 0px;
      }
      .inputComment {
        width: 75%;
        height: 30px;
        background-color: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
      }
}

