
.ToggleButton{
  color: white;
  font-size: 16px;
  border-radius: 13%;
  background-color:#5c155c ;

}

.buttonBackground{
  background-color:#5c155c ;

}
@media only screen and (max-width: 320px){ 
  .ToggleButton{

    width: auto;
    padding: auto;
    font-size: auto;
    font-size: 10px;
  }
  hr{
    display: none;
  }
}
  

