.rightBar{
    flex: 3.5;
}

.rightBarWrapper{
    padding: 20px 20px 0 0;
}
.topicContainer{
    display: flex;
    align-items: center;
}
.topicImg{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.topicText{
    font-weight: 300;
    font-style: 150px;
    font-family: sans-serif;
}
.adImg{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rightBarTitle{
    margin-bottom: 20px;
}
.rightBarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightBarFriend{
display: flex;
align-items: center;
margin-bottom: 15px;
}
.rightBarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightBarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.rightBarOnline{
 width: 12px;
 height: 12px;
 border-radius: 50%;
 background-color: limegreen;
 position: absolute;
 top: -2px;
 right: 0;
 border: 2px solid white;
}
.rightBarUserName{
font-weight: 500;
}

.rightBarTitleFirstPart{
    font-size:18px;
    font-weight: 500px;
    margin-bottom: 10px;
}

.rigthbarFollowingIma{
    width: 100px;
    height: 100px;
    object-fit: cover;border-radius:5px;
}

.rigthBarInfo{
    margin-bottom: 30px;
}

.rigthbarInfoItem{
    margin-bottom: 10px;

}

.rigthbarInfoKey{
    font-weight: 500px;
    margin-bottom: 15px;
    color: #555 ;
}

.rigthbarInfoValue{
    font-weight: 500px;
}

.rigthbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}


.rigthbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}