@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=IBM+Plex+Mono:wght@100;400&display=swap");
.htmlTitle {
  text-align: center;
}

.content {
  padding: 40px;
  font-family: "IBM Plex Mono", monospace;
}
.hr {
  border: dotted 5px grey;
  margin-top: 10px;
}
.containImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.htmlImg {
  margin: 10px;
  width: 30%;
  height: 40vh;
}
h2 {
  font-family: "IBM Plex Mono", monospace;
}
.htmlVideo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

@media only screen and (max-width:426px) {
  .content{
    display: flex;
    
  }
  article{
    flex-wrap: wrap;
  }
  .secondContent{
    display: flex;
    flex-wrap: wrap;
  }
  .containImg{
    display: flex;
  }
  .htmlImg{
    flex-wrap: wrap;
    width: 10vw;
    height: 20vh;
  }
  .htmlVideo {
 width: fit-content;
 height: fit-content;
}
}